header{
  height: 80px;
  background-color: rgba(0, 0, 0, 0.52);
  display: flex;
  align-items: center;
  justify-content: center;

}
.table{
  text-align: center;
}
.table td, .table th{
  padding: 10px;
}
.table tbody tr{
  transition: 0.5s;
}
.table tbody tr:hover{
  background-color: rgba(0, 0, 0, 0.19);
}
footer{
  height: 80px;
  background-color: rgba(0, 0, 0, 0.52);
  display: flex;
  align-items: center;
  justify-content: center;

}